// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//FontAwesome
@import "~font-awesome/scss/font-awesome.scss";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar {
  background-color: #0c64a2;
  padding: .35rem 1rem;
}

.app-content {
  flex: 1;
}

.adverts-list {
  .advert {
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

    &:first-of-type {
      margin-top: 0;
    }
  }
}